<div class="container mt-3">
  <div class="row">
    <h2>{{title}}</h2>
    <div class="col-xs-12 col-md-12">
      <button asp-action="Index" class="btn-sm btn btn-outline-primary" [routerLink]="['/fieldservice']" routerLinkActive="router-link-active">
        <i class="fa fa-arrow-left"></i> List</button>&nbsp;
      <button asp-action="Index" class="btn-sm btn btn-outline-primary">
        <i class="fa fa-plus"></i> Create New</button>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-12 mt-3">
      <h4 class="text-primary">{{subTitles}}</h4>
      <hr>
    </div>
  </div>
</div>
<br />
<div class="container">
  <div class="card mt-3 w-75">
    <div class="card-header">
      <h3 class="text-primary">{{ report.publicador.dianteira.descricao }}</h3>
      <h3>{{ report.publicador.nome }}</h3>
      <h5>Service situation: <span class="text-danger">{{report?.publicador.situacaoServicoCampo}}</span></h5>
    </div>
    <div class="card-body">

      <div class="card-block">

        <div class='row'>

          <div class="col-md">
            <p class="card-text">Reference - Delivery</p>
            <h5 class="card-title">{{ report.dataReferencia | date:'MM/yyyy'}} - {{ report.dataEntrega | date:'MM/yyyy'}}</h5>
          </div>

          <div class="col-md">
            <p class="card-text">Congregation</p>
            <h5 class="card-title">{{ report.congregacao.nome }}</h5>
          </div>
          <div class="col-md">
            <p class="card-text">Publisher</p>
            <h5 class="card-title">{{ report.publicador.nome }}</h5>
          </div>
          <div class="col-md">
            <p class="card-text">Pioneer</p>
            <h5 class="card-title">{{ report.pioneiro.descricao }}</h5>
          </div>

        </div>

      </div>


      <div class="card-block">
        <div class='row'>

          <div class="col-12">
            <hr>
          </div>

          <div class="col-md">
            <p class="card-text text-center">Placements</p>
            <p class="h5 text-center">{{report.publicacoes}}</p>
          </div>
          <div class="col-md">
            <p class="card-text text-center">Videos</p>
            <p class="h5 text-center">{{report.videosMostrados}}</p>
          </div>
          <div class="col-md">
            <p class="card-text text-center">Hours</p>
            <p class="h5 text-center text-danger">{{report.horas}}</p>
          </div>
          <div class="col-md">
            <p class="card-text text-center">Visits</p>
            <p class="h5 text-center">{{report.revisitas}}</p>
          </div>
          <div class="col-md">
            <p class="card-text text-center">Studies</p>
            <p class="h5 text-center">{{report.estudos}}</p>
          </div>
          <div class="col-md">
            <p class="card-text text-center">Bethel</p>
            <p class="h5 text-center text-primary">{{report.horasBetel}}</p>
          </div>
          <div class="col-md">
            <p class="card-text text-center">Credit</p>
            <p class="h5 text-center text-primary">{{report.creditoHoras}}</p>
          </div>
          <div class="col-md">
            <p class="card-text text-center">Minutes</p>
            <p class="h5 text-center text-primary">{{report.minutos}}</p>
          </div>

        </div>

      </div>
    </div>

    <div class="text-center">
      <hr>
      <button type="button" class="btn btn-warning custombutton" [routerLink]="['/editfieldservice', report?.id]" routerLinkActive="router-link-active">
        <i class="fa fa-pencil-square-o"></i> Edit</button>&nbsp;     
      <button *ngIf="del == 'true'" type="button" class="btn btn-danger custombutton" (click)="deleteFieldService(report.id)">
        <i class="fa fa-times"></i> Delete</button>
    </div>
    &nbsp;
  </div>

<br>

  <div class="row">
      <div class="col-xs-12 col-sm-12">
        <button asp-action="Index" class="btn-sm btn btn-outline-primary" [routerLink]="['/fieldservice']"
          routerLinkActive="router-link-active">
          <i class="fa fa-arrow-left"></i> List</button>&nbsp;
        <button asp-action="Index" class="btn-sm btn btn-outline-primary">
          <i class="fa fa-plus"></i> Create New</button>
      </div>
    </div>


</div>