<div class="container mt-3">
  <div class="row">
    <h2>{{ title }}</h2>
    <div class="col-xs-12 col-md-12">
      <button asp-action="Index" class="btn-sm btn btn-outline-primary" [routerLink]="['/congregation']" routerLinkActive="router-link-active">
        <i class="fa fa-arrow-left"></i> List</button>&nbsp;
      <button asp-action="Index" class="btn-sm btn btn-outline-primary" [routerLink]="['/createcongregation']" routerLinkActive="router-link-active">
        <i class="fa fa-plus"></i> Create New</button>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-12 mt-3">
      <h4 class="text-primary">{{ subTitles }}</h4>
      <hr>
    </div>
  </div>
</div>
<br />
<div class="container">
  <div class="card mt-3 w-75">
    <div class="card-header">
      <h3 class="text-primary">Congregation</h3>
      <h3>{{ congregation.numero }}&nbsp;{{ congregation.nome }}</h3>
      <h5 *ngIf="congregation.padrao">Default: <span class="text-danger">Yes</span></h5>
      <h5 *ngIf="!congregation.padrao">Default: <span class="text-danger">No</span></h5>
    </div>
    <div class="card-body">

      <div class="card-block">

        <div class='row'>

          <div class="col-md">
            <p class="text-primary"><strong>Coordinator</strong></p>
            <h5 class="card-title">{{ congregation.coordenador }}</h5>
          </div>

          <div class="col-md">
            <p class="text-primary"><strong>Cell Phone</strong></p>
            <h5 class="card-title">{{ congregation.telCelular }}</h5>
          </div>

          <div class="col-md">
            <p class="text-primary"><strong>Phone</strong></p>
            <h5 class="card-title">{{ congregation.telefone }}</h5>
          </div>

          <div class="col-md">
            <p class="text-primary"><strong>E-mail</strong></p>
            <h5 class="card-title">{{ congregation.email }}</h5>
          </div>

        </div>

      </div>


      <div class="card-block">
        <div class='row'>

          <div class="col-12">
            <hr>
            <h4 class="text-primary">Address</h4>
          </div>

          <div class="col-md">
            <p class="text-primary"><strong>Public area</strong></p>
            <p class="h5">&nbsp;{{ congregation.nomeLogradouro }}</p>
          </div>
          <div class="col-md">
            <p class="text-primary"><strong>Complement</strong></p>
            <p class="h5">&nbsp;{{ congregation.complemento }}</p>
          </div>
          <div class="col-md">
            <p class="text-primary"><strong>Neighborhood</strong></p>
            <p class="h5">&nbsp;{{ congregation.bairro }}</p>
          </div>
          <div class="col-md">
            <p class="text-primary"><strong>City</strong></p>
            <p class="h5">&nbsp;{{ congregation.cidade }}</p>
          </div>

        </div>

        <div class="row">
          <div class="col-md">
            <p class="text-primary"><strong>State</strong></p>
            <p class="h5">&nbsp;{{ congregation.estado.descricao }}</p>
          </div>
          <div class="col-md">
            <p class="text-primary"><strong>Country</strong></p>
            <p class="h5">&nbsp;{{ congregation.estado.country.niceName }}</p>
          </div>
          
          <div class="col-md">
            <p class="text-primary"><strong>Zip code</strong></p>
            <p class="h5">&nbsp;{{ congregation.cep }}</p>
          </div>

          <div class="col-md">
            <p class="card-text">&nbsp;</p>
            <p class="h5">&nbsp;</p>
          </div>
        </div>

      </div>
    </div>

    <div class="text-center">
      <hr>
      <button *ngIf="del == 'false'" type="button" class="btn btn-warning custombutton" [routerLink]="['/editcongregation', congregation?.id]" routerLinkActive="router-link-active">
        <i class="fa fa-pencil-square-o"></i> Edit</button>&nbsp;     
      <button *ngIf="del == 'true'" type="button" class="btn btn-danger custombutton" (click)="deleteFieldService(congregation.id)">
        <i class="fa fa-times"></i> Delete</button>
    </div>
    &nbsp;
  </div>

<br>

  <div class="row">
      <div class="col-xs-12 col-sm-12">
        <button asp-action="Index" class="btn-sm btn btn-outline-primary" [routerLink]="['/congregation']" routerLinkActive="router-link-active">
          <i class="fa fa-arrow-left"></i> List</button>&nbsp;
        <button asp-action="Index" class="btn-sm btn btn-outline-primary" [routerLink]="['/createcongregation']" routerLinkActive="router-link-active">
          <i class="fa fa-plus"></i> Create New</button>
      </div>
    </div>


</div>