<div class="container mt-3">
  <div class="row">
    <h2>{{ title }}</h2>
    <div class="col-xs-12 col-md-12">
      <button asp-action="Index" class="btn-sm btn btn-outline-primary" [routerLink]="['/createcongregation']" routerLinkActive="router-link-active">
        <i class="fa fa-plus"></i> Create New
      </button>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-12 mt-3">
      <h4 class="text-primary">List</h4>
      <hr />
    </div>
  </div>
</div>
<br />

<div class="container">
  <div class="card mt-6">
    <div class="card-header">
      <h3>Filters</h3>
      <h5 class="text-danger">&nbsp;{{ val }}
        <span class="text-warning" *ngIf="msg !== ''">{{ msg }}</span>
      </h5>
    </div>
    <div class="card-body">
      <br />
      <div class="row">
        <div class="col-sm-8">
          <h5 class="card-text">Congregation</h5>
          <input
            type="text"
            style="width:100%;"
            class="form-control"
            placeholder="Type to filter by congregation name..."
            (keyup)="updateFilter($event)"
          />
        </div>

        <div class="col-sm-4">
          <h5 class="card-text">&nbsp;</h5>
          <button
            type="submit"
            class="btn btn-success custombutton">
            <i class="fa fa-filter"></i> Filter
          </button>
        </div>

      </div>
    </div>
  </div>

  <br />

  <ngx-datatable
    #table
    class="material"
    [limit]="10"
    [columnMode]="'force'"
    [headerHeight]="50"
    [footerHeight]="50"
    [rowHeight]="'auto'"
    [rows]="rows">

    <!-- Row Detail Template -->
    <ngx-datatable-row-detail
      [rowHeight]="50"
      #myDetailRow
      (toggle)="onDetailToggle($event)">
      <ng-template
        let-row="row"
        let-expanded="expanded"
        ngx-datatable-row-detail-template>
        <div style="padding-left:60px; font-size:14px">
          <div>{{ row.nome }}</div>
        </div>
      </ng-template>
    </ngx-datatable-row-detail>
    
    <!-- Column Templates -->
    <ngx-datatable-column name="nome" [flexGrow]="1">
      <ng-template
        let-column="column"
        let-sort="sortFn"
        ngx-datatable-header-template>
        <span class="mobile-hidden">Congregation</span>
      </ng-template>
      <ng-template let-value="value" ngx-datatable-cell-template>
        <div class="text-left">
            <span class="mobile-hidden">{{ value }}</span>
        </div>
      </ng-template>
    </ngx-datatable-column>


    <ngx-datatable-column
      name="numero"
      [flexGrow]="3"
      [minWidth]="80"
      [width]="100">
      <ng-template
        let-column="column"
        let-sort="sortFn"
        ngx-datatable-header-template>
        <span class="mobile-hidden">Number</span>
      </ng-template>
      <ng-template let-value="value" ngx-datatable-cell-template>
        {{ value }}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="coordenador" [flexGrow]="1">
      <ng-template
        let-column="column"
        let-sort="sortFn"
        ngx-datatable-header-template>
        <span class="mobile-hidden">Coordinator</span>
      </ng-template>
      <ng-template let-value="value" ngx-datatable-cell-template>
          <div class="text-left"><span class="mobile-hidden">{{ value }}</span></div>
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column
      name="padrao"
      [flexGrow]="3"
      [minWidth]="80"
      [width]="100">
      <ng-template
        let-column="column"
        let-sort="sortFn"
        ngx-datatable-header-template>
        <span class="mobile-hidden">Standard</span>
      </ng-template>
      <ng-template let-value="value" ngx-datatable-cell-template>
          <span *ngIf="value" class="text-danger"><strong>Yes</strong></span>
          <span *ngIf="!value" class="text-primary">No</span>
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column
      name="cidade"
      [flexGrow]="1"
      [minWidth]="62"
      [maxWidth]="62">
      <ng-template
        let-column="column"
        let-sort="sortFn"
        ngx-datatable-header-template>
        <span class="mobile-hidden">City</span>
      </ng-template>
      <ng-template let-value="value" ngx-datatable-cell-template>
        {{ value }}
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column
      name="estado"
      [flexGrow]="1"
      [minWidth]="60"
      [maxWidth]="100"
    >
      <ng-template
        let-column="column"
        let-sort="sortFn"
        ngx-datatable-header-template
      >
        <span class="mobile-hidden">Estate</span>
      </ng-template>
      <ng-template let-value="value" ngx-datatable-cell-template>
        {{ value.descricao }} - {{ value.country.niceName }}
      </ng-template>
    </ngx-datatable-column>

    <div class="text-center">
      <ngx-datatable-column
        [width]="50"
        [resizeable]="false"
        [sortable]="false"
        [draggable]="false"
        [canAutoResize]="true"
      >
        <ng-template
          let-row="row"
          let-expanded="expanded"
          ngx-datatable-cell-template>
          <button
            type="button"
            class="btn-sm btn btn-primary custombuttonlist"
            [routerLink]="['/editcongregation', row.id]"
            routerLinkActive="router-link-active">
            <i class="fa fa-pencil-square-o"></i> Edit
          </button>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column
        [width]="50"
        [resizeable]="false"
        [sortable]="false"
        [draggable]="false"
        [canAutoResize]="true">
        <ng-template
          let-row="row"
          let-expanded="expanded"
          ngx-datatable-cell-template>
          <button
            type="button"
            class="btn-sm btn btn-warning custombuttonlist"
            [routerLink]="['/detailcongregation/', row.id, false]"
            routerLinkActive="router-link-active">
            <i class="fa fa-address-card-o"></i> Detail
          </button>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column
        [width]="50"
        [resizeable]="false"
        [sortable]="false"
        [draggable]="false"
        [canAutoResize]="true">
        <ng-template
          let-row="row"
          let-expanded="expanded"
          ngx-datatable-cell-template>
          <button
            type="button"
            class="btn-sm btn btn-danger custombuttonlist"
            [routerLink]="['/detailcongregation/', row.id, true]"
            routerLinkActive="router-link-active">
            <i class="fa fa-times"></i> Delete
          </button>
        </ng-template>
      </ngx-datatable-column>
    </div>
  </ngx-datatable>

</div>
