<div class="container mt-3">
  <div class="row">
    <h2>{{title}}</h2>
    <div class="col-xs-12 col-md-12">
      <button asp-action="Index" class="btn-sm btn btn-outline-primary" [routerLink]="['/members']" routerLinkActive="router-link-active">
        <i class="oi oi-arrow-left"></i> List</button>&nbsp;
      <button asp-action="Index" class="btn-sm btn btn-outline-primary">
        <i class="oi oi-plus"></i> Create New</button>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-12 mt-3">
      <h4>{{subTitles}}</h4>
      <hr>
    </div>
  </div>
</div>
<br />
<form>
  <div class="container">
    <div class="card mt-3 w-75">
      <div class="card-header">
        <label>Username</label>
        <h3 class="text-primary">{{ user?.username }}</h3>
      </div>
      <div class="card-body">
        <div class="form-group">
          <label for="email1">Congregation</label>
          <h5 class="card-title">{{ user?.congregacao.nome }}</h5>
        </div>
        <div class="form-group">
          <label for="email1">Publisher Name</label>
          <h5 class="card-title">{{ user?.publicador.nome }}</h5>
        </div>
        <div class="form-group">
          <label for="email1">Email address</label>
          <input type="email" class="form-control" id="email1" aria-describedby="emailHelp" placeholder="Enter email">
        </div>
        <div class="text-center">
          <hr>
          <button type="button" class="btn btn-warning custombutton" [routerLink]="['/editmembers', user?.id]" routerLinkActive="router-link-active">
            <i class="oi oi-pencil"></i> Edit</button>&nbsp;
          <button type="button" class="btn btn-info custombutton" [routerLink]="['/bindmembers', user?.id]" routerLinkActive="router-link-active">
            <i class="oi oi-pencil"></i> Bind</button>&nbsp;
          <button type="button" class="btn btn-danger custombutton">
            <i class="oi oi-delete"></i> Delete</button>
        </div>
      </div>
    </div>
  </div>
</form>