<div class="card w-75 mb-1 pos">
  <div class="card-header">
    <h5 class="card-title text-primary">
      <label class="font-weight-bold">Username: </label> {{usuario.username}}</h5>
  </div>
  <div class="card-body p-1">
    <p class="card-text">
      <label class="font-weight-bold">Congregation:</label> {{usuario.congregacao?.nome}}</p>
    <p class="card-text">
      <label class="font-weight-bold">Publisher:</label> {{usuario.publicador?.nome}}</p>
    <p class="card-text">
      <label class="font-weight-bold">Email: </label> {{usuario.email}}</p>
  </div>
</div>
